{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card border-danger">
            <div class="card-body">
                <h1 class="card-title mb-4 text-danger">Edit Profile</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-danger mt-3">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}