# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Media files
media/

# API calls and tokens
api.http
apicalls
*.http
.idea/httpRequests/

# Environment variables and sensitive data
.env
*.env